.game {
	padding: 1rem;

	&__deck {
		display: flex;
		flex-wrap: wrap;
		padding: 1rem;
		margin: 1rem;
		width: 85%;
		background: #716F71;
		border-radius: 4px;
		box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
		justify-content: space-around;
		align-items: center;
	}

	&__header {
		padding: 1rem;
	}

	&__turns {
		float: right;
	}
}
